<ion-header>
    <ion-toolbar>
      <ion-title>
        Menu du jour
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen class="ion-padding">
    <div *ngIf="menu">
        <h1 class="ion-text-center"> <ion-text color='primary'> Bienvenue! </ion-text> </h1>
        <ion-slides pager="true" [options]="slideOpts" scrollbar="true">
            <ion-slide *ngFor="let menuItem of menu.plats">
                <ion-card>
                  <img src="{{'../../assets/pictures/'+getPictureNumero()+'.jpg'}}" />
                    <ion-card-header>
                      <ion-card-title>{{menuItem.nom}}</ion-card-title>
                      <ion-card-subtitle>{{menuItem.prix}} FCFA<span *ngIf="menuItem.restaurant">, chez {{menuItem.restaurant.nom}}</span></ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      {{menuItem.description}}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
       <ion-fab-button (click)='showModal()'>
       <ion-icon name="add"></ion-icon> 
      </ion-fab-button> 
    </ion-fab>
  </ion-content>
  