<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plats">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Plats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurant">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Restos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
